*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Inder";
  src: local("Inder"), url("../assets/Inder/Inder-Regular.ttf");
}
:root {
  font-family: "Inder";
  --primary-blue: #031820;
  --primary-orange: #a45a0f;
  --primary-brown: #0d0900;
  --primary-green: #151a15;
  --primary-red: #9a2d19;
  --primary-pink: #d5c1be;
  --primary-grey: #27292a;
}
/* NAV-BAR */
.nav-bar {
  background-color: var(--primary-blue);
  color: #ecc19e;
  letter-spacing: 1px;
  display: flex;
  border-bottom: 1px solid #ecc19e83;
  font-weight: 700;
  letter-spacing: 2px;
  justify-content: center;
  gap: 50px;
  height: 7vh;
  font-size: 1.3rem;
  align-items: center;
  position: sticky;
  box-shadow: 0px 4px 14px -3px #000000;
}
.targets-list-nav-bar {
  display: flex;
  gap: 20px;
}

.found {
  text-decoration: line-through;
}

/* START GAME PANEL */
.start-game-main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-grey);
}
.game-wrapper {
  background-color: var(--primary-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  border-radius: 5px;
  color: var(--primary-brown);
  box-shadow: 0px 4px 14px -3px #2e2d2d;
}

.game-info {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary-red);
}
.targets-list-start-panel {
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}
.target-item-start-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #082a3a;
  box-shadow: 0px 4px 14px -3px #2e2d2d;
  border-radius: 10px;
  padding: 20px;
  color: white;
}
.target-item-start-panel:hover {
  transform: scale(1.05);
}
/* MAIN GAME*/
.image-game {
  overflow: auto;
}
/* WINNING SCREEN*/
form {
  background-color: rgba(245, 230, 230, 0.918);
  font-size: 1.4rem;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid #0d0900;
  border-radius: 5px;
  padding: 40px;
}
.button-wrapper {
  display: flex;
  gap: 10px;
}
/* LEADERBOARD */
.board-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: rgba(245, 230, 230, 0.918);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #0d0900;
  border-radius: 5px;
  padding: 40px;
  gap: 5px;
}
.board-entry {
  border-bottom: 1px solid saddlebrown;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* MANIPULATED IN JS*/

.winning-main {
  background-color: rgba(49, 20, 20, 0.918);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.leaderboard {
  background-color: rgba(49, 20, 20, 0.918);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 90vh;
}
#border-box {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
}
#popup {
  position: absolute;
  font-size: 1.3rem;
  background-color: rgba(250, 235, 215, 0.623);
  color: #0d0900;
}
.selection-box {
  position: absolute;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*FOOTER*/
footer {
  background-color: var(--primary-blue);
  border-top: 1px solid #ecc19e83;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3vh;
  letter-spacing: 2px;
}
.footer-link {
  color: #ecc19e;
}
/* GLOBAL SETTINGS */
a,
a:visited,
a:focus {
  text-decoration: none;
}

a,
a:visited,
a:focus {
  color: #ecc19e;
  text-decoration: none;
}

button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: 10px calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(49, 20, 20, 0.918);
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

input {
  font-size: 1.2rem;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 5px 15px;
  min-height: 2rem;
}

input:focus {
  border-bottom: 2px solid rgb(77, 25, 25);
}
